#MYSQL
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USERNAME=fiap
DATABASE_PASSWORD=fiap
DATABASE_DATABASE=fiap

#MONGODB
DOCUMENT_DATABASE_HOST=localhost
DOCUMENT_DATABASE_PORT=27017
DOCUMENT_DATABASE_USERNAME=fiap
DOCUMENT_DATABASE_PASSWORD=fiap
DOCUMENT_DATABASE_DATABASE=fiap

#DYNAMO
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_REGION=local

#OTHERS
APPLICATION_PORT=3000
